<h1>All ze restaurants!</h1>

<%= link_to "Create Restaurant", new_restaurant_path %>

<% if @restaurants.any? %>

  <ul>
    <% @restaurants.each do |r| %>
      <li><%= link_to r.name, restaurant_path(r) %></li>
    <% end %>
  </ul>

<% end %>

